<div class="content">
    <div class="row">
      <div class="container mt-4">
        <h2>Gestión de Calificaciones</h2>

        <!-- Tabla de calificaciones -->
        <div class="table-responsive mt-4">
          <table class="table">
            <thead class="text-primary">
              <tr>
                <th>Profesor</th>
                <th>Asignatura</th>
                <th>Curso</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let calificacion of calificaciones">
                <td>{{ calificacion.profName }}</td>
                <td>{{ calificacion.subjectName }}</td>
                <td>{{ calificacion.courseName }}</td>
                <td>
                  <button class="btn btn-primary" (click)="asignarNota(calificacion)">
                    Asignar Nota
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <p *ngIf="calificaciones.length === 0" class="text-danger">No hay datos disponibles.</p>
      </div>
    </div>
  </div>
  