/* Estilo general para el select */
select {
  background-color: #ffffff; /* Fondo blanco */
  color: #000000; /* Texto negro */
  border: 1px solid #ced4da; /* Borde estándar */
  padding: 10px; /* Relleno para más espacio */
  font-size: 16px; /* Tamaño de fuente */
  width: 100%; /* Hace que el select ocupe todo el ancho disponible */
  margin-bottom: 20px; /* Espacio debajo del select */
}

/* Estilo para las opciones del select */
select option {
  color: #000000; /* Color del texto de las opciones */
  background-color: #ffffff; /* Fondo blanco para las opciones */
}

/* Estilo para la sección de filtro que contiene el select */
.filter-section {
  margin-bottom: 30px; /* Espacio adicional debajo del filtro */
  display: flex;
  gap: 20px; /* Espaciado entre los elementos del filtro */
  align-items: center; /* Alinea verticalmente los elementos */
  padding: 15px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
}

/* Estilo del label de la sección de filtro */
.filter-section label {
  font-weight: bold;
  margin-right: 10px; /* Espacio entre el label y el select */
}

/* Estilo para el botón de "Medios Asignados" */
button.btn.btn-primary.mb-3 {
  background-color: #32325d;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

button.btn.btn-primary.mb-3:hover {
  background-color: #1e1f35;
}

/* Estilo para la tabla de medios */
table.table {
  width: 100%;
  margin-top: 20px;
}

/* Estilo de la tabla de medios asignados */
table.table th,
table.table td {
  text-align: center;
}

