<div class="wrapper">
  <nav class="nav">
    <div class="nav-menu" [ngClass]="{ 'responsive': isMenuResponsive }" id="navMenu">
      <ul>
        <li><a class="link active">Gestor Escolar</a></li>
      </ul>
    </div>
    <div class="nav-menu-btn">
      <i class="bx bx-menu" (click)="toggleMenu()"></i>
    </div>
  </nav>

  <!-- Formulario de Inicio de Sesión -->
  <div class="form-box">
    <div class="login-container" id="login" [ngStyle]="loginStyles">
      <div class="top">
        <header>Login</header>
      </div>
      <div class="input-box">
        <input type="text" class="input-field" placeholder="Usuario o Email" [(ngModel)]="userData.email">
        <i class="bx bx-user"></i>
      </div>
      <div class="input-box">
        <input type="password" class="input-field" placeholder="Contraseña" [(ngModel)]="userData.password">
        <i class="bx bx-lock-alt"></i>
      </div>
      <div class="input-box">
        <input type="submit" class="submit" value="Iniciar Sesión" (click)="onSubmit()">
      </div>
      <div class="two-col">
        <div class="one">
          <input type="checkbox" id="login-check" [(ngModel)]="rememberMe">
          <label for="login-check"> Recordarme</label>
        </div>
        <div class="two">
          <label><a href="#">¿Olvidaste tu contraseña?</a></label>
        </div>
      </div>
    </div>
  </div>
</div>