<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <h4 class="card-title">Asignación de medios a aulas</h4>
          <button class="btn btn-secondary" *ngIf="selectedClassroom || showAssignedMeans" (click)="volverAulas()">Regresar</button>
        </div>
        <div class="card-body">

          <button class="btn btn-primary mb-3" (click)="toggleAssignedMeans()">Medios Asignados</button>

          <div *ngIf="showAssignedMeans">
            <h5><strong>Medios Asignados</strong></h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Medio</th>
                  <th>Aula</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let asignacion of assignedTechMeans">
                  <td>{{ asignacion.techName }}</td>
                  <td>{{ asignacion.idClassRoom }}</td>
                  <td>
                    <button class="btn btn-danger" (click)="eliminarAsignacion(asignacion.idClassRoomTech)">
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="!selectedClassroom && !showAssignedMeans">
            <h5><strong>Aulas Disponibles</strong></h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Aula</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let aula of aulas">
                  <td>{{ aula.location }} (ID: {{ aula.idClassR }})</td>
                  <td>
                    <button class="btn btn-info" (click)="seleccionarAula(aula)">Seleccionar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="selectedClassroom">
            <h5><strong>Medios Tecnológicos para "{{ selectedClassroom.location }}"</strong></h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Medio</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let medio of mediosDisponibles">
                  <td>{{ medio.nameMean }}</td>
                  <td>
                    <button class="btn btn-success" (click)="asignarMedio(medio.idMean)">Asignar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
