.custom-button {
  background-color: #32325d; /* Color de fondo */
  color: white; /* Color del texto */
  border: 1px solid #1e1f35; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 8px 16px; /* Espaciado interno */
  font-size: 14px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: all 0.3s ease; /* Transición suave para efectos */
  margin-bottom: 20px;
}

.custom-button:hover {
  background-color: #43457a; /* Color más claro al pasar el mouse */
  border-color: #2e2f50; /* Color del borde al pasar el mouse */
}

.custom-button:active {
  background-color: #212345; /* Color más oscuro al presionar */
  transform: scale(0.98); /* Pequeño efecto de presión */
}
.modal .form-control {
  color: black; /* Cambia el color del texto a negro */
}
.form-contro {
  display: block;
  width: 100%;
  height: calc(2.249999625rem + 2px);
  padding: 0.5rem 0.7rem;
  font-size: 0.875rem;
  line-height: 1.428571;
  color: black;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #cad1d7;
  border-radius: 0.25rem;
  box-shadow: none;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-contro:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* Clase personalizada para el modal */

/* Clase para el modal y su contenido */
.modal-dialo {
  max-width: 600px;  /* Ajusta el tamaño máximo para pantallas grandes */
  margin: 1.75rem auto;  /* Espaciado en la parte superior */
}

@media (max-width: 767px) {
  .modal-dialog {
    margin: 1rem;  /* Menos espacio en pantallas más pequeñas */
    width: 90%;  /* Aseguramos que el modal ocupe un porcentaje mayor en pantallas pequeñas */
  }
}

.input-group-append button {
  max-width: 100px; /* Limita el tamaño del botón en pantallas pequeñas */
}

.form-group {
  margin-bottom: 1rem;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Opcional, ajusta según tu diseño */
}



