<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <button class="custom-button" (click)="openModal()">Agregar Profesor</button>
          <div class="search-bar mb-3 d-flex align-items-center">
            <input
              type="text"
              id="globalSearch"
              class="form-control"
              placeholder="Buscar profesores"
              [(ngModel)]="globalSearchQuery"
              (input)="updateDisplayProfesor()"
            />
            <i class="fa fa-search ml-2"></i>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card-header">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo de Contrato</th>
                    <th>Especialidad</th>
                    <th>Salario</th>
                    <th>Experiencia Laboral</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let profesor of profesores; let i = index">
                    <tr>
                      <td>
                        <span *ngIf="!profesor.isEditing">{{ profesor.professor.nameProf }}</span>
                        <input *ngIf="profesor.isEditing" type="text" class="form-control" [(ngModel)]="profesor.professor.nameProf" />
                      </td>
                      <td>
                        <span *ngIf="!profesor.isEditing">{{ profesor.professor.contract }}</span>
                        <input *ngIf="profesor.isEditing" type="text" class="form-control" [(ngModel)]="profesor.professor.contract" />
                      </td>
                      <td>
                        <span *ngIf="!profesor.isEditing">{{ profesor.professor.spec }}</span>
                        <input *ngIf="profesor.isEditing" type="text" class="form-control" [(ngModel)]="profesor.professor.spec" />
                      </td>
                      <td>
                        <span *ngIf="!profesor.isEditing">{{ profesor.professor.salary }}</span>
                        <input *ngIf="profesor.isEditing" type="number" class="form-control" [(ngModel)]="profesor.professor.salary" />
                      </td>
                      <td>
                        <span *ngIf="!profesor.isEditing">{{ profesor.professor.laboralExperience }}</span>
                        <input *ngIf="profesor.isEditing" type="number" class="form-control" [(ngModel)]="profesor.professor.laboralExperience" />
                      </td>
                      <td>
                        <button class="custom-button" *ngIf="!profesor.isEditing" (click)="toggleEdit(profesor)">Editar</button>
                        <button class="custom-button" *ngIf="profesor.isEditing" (click)="saveChanges(profesor)">Guardar</button>
                        <button class="custom-button" *ngIf="profesor.isEditing" (click)="toggleEdit(profesor)">Cancelar</button>
                        <button class="custom-button" *ngIf="!profesor.isEditing" (click)="deleteProfesor(profesor.id)">Eliminar</button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal"
    tabindex="-1"
    [ngClass]="{ 'show': showModal }"
    style="display: block;"
    *ngIf="showModal"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar Profesor</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="nameProf">Nombre</label>
              <input type="text" id="nameProf" class="form-control" [(ngModel)]="newProfesor.nameProf" name="nameProf">
            </div>
            <div class="form-group">
              <label for="contract">Tipo de Contrato</label>
              <input type="text" id="contract" class="form-control" [(ngModel)]="newProfesor.contract" name="contract">
            </div>
            <div class="form-group">
              <label for="spec">Especialidad</label>
              <input type="text" id="spec" class="form-control" [(ngModel)]="newProfesor.spec" name="spec">
            </div>
            <div class="form-group">
              <label for="salary">Salario</label>
              <input type="number" id="salary" class="form-control" [(ngModel)]="newProfesor.salary" name="salary">
            </div>
            <div class="form-group">
              <label for="laboralExperience">Experiencia Laboral</label>
              <input type="number" id="laboralExperience" class="form-control" [(ngModel)]="newProfesor.laboralExperience" name="laboralExperience">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="custom-button" (click)="saveProfesor()">Guardar</button>
          <button type="button" class="custom-button" (click)="closeModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
