<div class="content">
    <div class="row">
      <div class="container mt-4">
        <h2>Solicitud de Aula y Medios</h2>
        <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="aula">Aula</label>
            <input type="text" class="form-control" id="aula" formControlName="aula" placeholder="Ingrese el aula" required>
          </div>
  
          <div formArrayName="medios">
            <div *ngFor="let medio of medios.controls; let i = index" [formGroupName]="i" class="form-group">
              <label for="medio">Medio de Apoyo</label>
              <select class="form-control custom-select" formControlName="nombre" required>
                <option value="" disabled selected hidden>Seleccione un medio</option>
                <option value="proyector">Proyector</option>
                <option value="computadora">Computadora</option>
                <option value="pizarra">Pizarra</option>
                <option value="altavoces">Altavoces</option>
                <option value="mesas">Mesas</option>
                <option value="sillas">Sillas</option>
              </select>
  
              <label for="cantidad">Cantidad</label>
              <input type="text" class="form-control" formControlName="cantidad" placeholder="Ingrese la cantidad requerida" min="1" required>
  
              <button type="button" class="custom-butto" (click)="removeMedio(i)">Eliminar</button>
            </div>
          </div>
  
          <button type="button" class="custom-butto" (click)="addMedio()">Agregar Medio</button>
          <button type="submit" class="custom-butto">Enviar Solicitud</button>
        </form>
      </div>
    </div>
  </div>