<div class="content">
  <div class="row">
    <div class="container mt-4">
      <h3>Solicitud de Aulas y Medios </h3>
      <!-- Sección para mostrar los resultados -->
      <div class="result-container mt-4" *ngIf="result">
        <div>
          <h4>Asignaturas y Medios Disponibles</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Asignatura</th>
                <th>Medio</th>
                <th>Cantidad</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of result.dictionary | keyvalue">
                <td rowspan="{{ entry.value.length }}">{{ entry.key }}</td>
                <ng-container *ngFor="let medio of entry.value">
                  <td>{{ medio[0] }}</td>
                  <td>{{ medio[1] }}</td>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
