<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestión de Funcionalidades</h4>

          <div class="float-start mt-3 ml-3">
            <button class="custom-button" (click)="exportToPdf(selectedFunctionality)">
              Exportar Información como PDF
            </button>
          </div>
          <!-- Selector para elegir funcionalidad -->
          <div class="filter-section mb-3">
            <label for="functionalityFilter">Seleccionar Funcionalidad:</label>
            <select id="functionalityFilter" class="form-select" [(ngModel)]="selectedFunctionality" (change)="onFunctionalityChange()">
              <option *ngFor="let func of functionalities" [value]="func.key">{{ func.label }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Gestión de Profesores por Especialización" -->
  <div *ngIf="selectedFunctionality === 'especializacionProfesores'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestión de Profesores por Especialización</h4>
          <div class="filter-section mb-3">
            <label for="specFilter">Seleccionar Especialización:</label>
            <select id="specFilter" class="form-select" [(ngModel)]="selectedSpec" (change)="onSpecChange()">
              <option *ngFor="let spec of specs" [value]="spec">{{ spec }}</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Profesor</th>
                  <th>Especialización</th>
                  <th>Aulas y Medios</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let professor of professors">
                  <td>{{ professor.nameProf }}</td>
                  <td>{{ professor.spec }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let key of objectKeys(professor.classRoomsAndMeans)">
                        {{ key }}:
                        <ul>
                          <li *ngFor="let subKey of objectKeys(professor.classRoomsAndMeans[key])">
                            {{ subKey }}: {{ professor.classRoomsAndMeans[key][subKey] }}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Promedio Mantenimiento" -->
  <div *ngIf="selectedFunctionality === 'promedioMantenimiento'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Promedio de Mantenimiento</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Aula</th>
                  <th>Costo de Mantenimiento</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cost of maintenanceCosts">
                  <td>{{ cost.idClassR }}</td>
                  <td>{{ cost.amount }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Mantenimientos Realizados" -->
  <div *ngIf="selectedFunctionality === 'mantenimientosRealizados'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Mantenimientos Realizados</h4>
          <p>Cantidad total de mantenimientos 2 años: {{ totalMaintenances }}</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Aula</th>
                  <th>Medios Auxiliares</th>
                  <th>Medios Tecnológicos</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let key of objectKeys(maintenances)">
                  <td>{{ key }}</td>
                  <td>{{ maintenances[key].AuxiliaryMean }}</td>
                  <td>{{ maintenances[key].TechnologicalMean }}</td>
                  <td>{{ maintenances[key].AuxiliaryMean + maintenances[key].TechnologicalMean }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Profesor Buena Nota" -->
  <div *ngIf="selectedFunctionality === 'ProfesorBuenaNota'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lista de Profesores Destacados</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Profesor</th>
                  <th>Materias</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let professor of goodProfesor">
                  <td>{{ professor.name }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let subject of professor.subjects">{{ subject }}</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Bad Students" -->
  <div *ngIf="selectedFunctionality === 'BadStudents'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lista de Estudiantes con Bajo Rendimiento</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Curso</th>
                  <th>Nombre del Estudiante</th>
                  <th>Evaluación Promedio de Profesores</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of badStudents">
                  <td>{{ student.curso }}</td>
                  <td>{{ student.studentName }}</td>
                  <td>{{ student.professorsAvarageEvaluation }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Funcionalidad "Bad Professor" -->
  <div *ngIf="selectedFunctionality === 'BadProfessor'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Lista de Profesores Sancionados</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Nombre del Profesor</th>
                  <th>Fecha de Primera Sanción</th>
                  <th>Usa Medios Auxiliares</th>
                  <th>Peores Evaluaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let professor of punishedProfessors">
                  <td>{{ professor.nameProf }}</td>
                  <td>{{ professor.punishmentDate }}</td>
                  <td>{{ professor.UseAuxMean ? 'Sí' : 'No' }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let eval of professor.evals">{{ eval !== 0 ? eval : 'N/A' }}</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
