<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestión de Funcionalidades</h4>
          
          <!-- Nuevo Selector para Elegir Funcionalidad -->
          <div class="filter-section mb-3">
            <label for="functionalityFilter">Seleccionar Funcionalidad:</label>
            <select id="functionalityFilter" class="form-select" [(ngModel)]="selectedFunctionality" (change)="onFunctionalityChange()">
              <option *ngFor="let func of functionalities" [value]="func.key">{{ func.label }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contenido de Especialización de Profesores -->
  <div *ngIf="selectedFunctionality === 'especializacionProfesores'" class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Gestión de Profesores por Especialización</h4>
          <div class="filter-section mb-3">
            <label for="specFilter">Seleccionar Especialización:</label>
            <select id="specFilter" class="form-select" [(ngModel)]="selectedSpec" (change)="onSpecChange()">
              <option *ngFor="let spec of specs" [value]="spec">{{ spec }}</option>
            </select>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter">
              <thead class="text-primary">
                <tr>
                  <th>Profesor</th>
                  <th>Especialización</th>
                  <th>Aulas y Medios</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let professor of professors">
                  <td>{{ professor.nameProf }}</td>
                  <td>{{ professor.spec }}</td>
                  <td>
                    <ul>
                      <li *ngFor="let key of objectKeys(professor.classRoomsAndMeans)">
                        {{ key }}:
                        <ul>
                          <li *ngFor="let subKey of objectKeys(professor.classRoomsAndMeans[key])">
                            {{ subKey }}: {{ professor.classRoomsAndMeans[key][subKey] }}
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
