<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Estudiantes</h4>
        </div>

        <div class="card-body">
          <p *ngIf="!students || students.length === 0">No hay estudiantes para mostrar</p> <!-- Paso 1 -->

          <div class="table-responsive">

            <table class="table">
              <thead class="text-primary">
                <tr>
                  <th>Nombre</th>
                  <th>Edad</th>
                  <th>Extracurriculares</th>
                  <th>Curso</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of students">
                  <td>{{ students.student?.nameStud }}</td>
                  <td>{{ students.student?.age }}</td>
                  <td>{{ students.student?.eActivity ? 'Sí' : 'No' }}</td>
                  <td>{{ students.idc }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
